@charset "utf-8";
@import "../base/common";
.modify-password {
  width: 400px;
  margin: 100px auto 0  auto;
  background: #fff;
  box-shadow: 0 0 10px -2px $box-show-cd;
  padding:20px 40px;
  border-radius: 10px;
  .modify-password-logo{
    position: relative;
    left:50%;
    transform: translateX(-50%);
    padding:20px 0;
  }
}


